<div class="container py-5">
    {% markdown %}
        Dear Sponsors,

        Thank you for your interest in supporting the Associated Students (AS) Productions department at California State University, Northridge. We are excited about collaborating with you and want to make this process as easy as possible, by providing you will all the tools needed to become a corporate sponsor for student events within AS Productions. AS Productions is the largest student programming department at CSUN and is responsible for planning diverse, quality events for the university community. Our mission is to provide excellent, meaningful programs and services designed to enhance and create a spirited learning-focused campus environment. In connection with our mission, we plan events year-round that bring the CSUN community together in order to nurture and promote student achievement in all functional areas of student life.

        Every year, AS Productions produces overs 50 quality events in the fall and the spring semester ranging from large concerts, comedy, farmer’s markets, films, etc. Next year, we anticipate reaching audience attendance ranging over 60,000 from our events. Many of these audience members are not only CSUN students, but also the general public and campus visitors.  

        Now, the exciting part for YOUR business is how you choose to partner with AS Productions. Within this packet, you will find sponsorship opportunities for several of the events that will take place throughout the year. The packet will also include sponsorship benefits and levels of contribution. In addition, these benefits will grant you the opportunity to support student involvement and engagement, in a way that allows you to promote your company or organization in a cost-effective and comprehensive way. Below you will find our contact information. We look forward to building this partnership.

        Again, thank you for your interest and support of CSUN. We hope you find this AS Productions promotional opportunity of value and beneficial to your business.
    {% endmarkdown %}

    <div class="row mt-5">
        <div class="col-md-4 offset-md-2">
            <p class="m-0"><strong class="t-1">Kira Paczkowski</strong></p>
            <p class="mt-0"><em>Program Advisor</em></p>

            <p class="m-0">Associated Students Productions</p>
            <p class="m-0"><a href="mailto:kira.paczkowsk@csun.edu">kira.paczkowsk@csun.edu</a></p>
            <p class="m-0"><a href="tel:8186776314">(818) 677-6314</a></p>
        </div>
        <div class="col-md-4">
            <p class="m-0"><strong class="t-1">Stacey Aguila</strong></p>
            <p class="mt-0"><em>Productions Graduate Assistant</em></p>

            <p class="m-0">Associated Students Productions</p>
            <p class="m-0"><a href="mailto:productions2@csunas.org">productions2@csunas.org</a></p>
            <p class="m-0"><a href="tel:8186772966">(818) 677-2966</a></p>
        </div>
    </div>
</div>
