<header class="page-section">
    <img src="{{ url('assets/images/landing-image.jpg') }}"
         alt="Associated Students organization group picture"
         class="page-section__image"
    >

    <div class="text-center my-5 px-4">
        <img src="{{ url('assets/images/logo--csunas--600.png') }}"
             alt="Associated Students' logo"
             class="img-fluid pb-3 mb-3 border-bottom"
        >

        <h1 class="mb-0 t-4">
            Sponsorships
        </h1>
    </div>
</header>
