{% from '_macros/perks-table.html.twig' import comparison_table %}
{% from '_macros/event-cards.html.twig' import event_cards %}

{% set perks = {
    'signage':              'Sponsorship level recognition on Event Signage',
    'promo':                'Inclusion in all advertising and event promotional pieces*',
    'group-social-media':   'Sponsor level group recognition on social media platforms (one time)',
    'special-social-media': 'Individual Recognition on Social Media (two times)',
    'tabling':              'Opportunity for a Promo Table at the event',
    'booth':                'Sponsored Information Booth on campus (one time)',
    'category-exclusive':   'Sponsor shall receive Category Exclusivity',
} %}

{% set levels = {
    '100': {
        'signage': true,
        'promo': false,
        'group-social-media': false,
        'special-social-media': false,
        'tabling': false,
        'booth': false,
        'category-exclusive': false,
    },
    '250': {
        'signage': true,
        'promo': true,
        'group-social-media': false,
        'special-social-media': false,
        'tabling': false,
        'booth': false,
        'category-exclusive': false,
    },
    '500': {
        'signage': true,
        'promo': true,
        'group-social-media': true,
        'special-social-media': false,
        'tabling': false,
        'booth': false,
        'category-exclusive': false,
    },
    '750': {
        'signage': true,
        'promo': true,
        'group-social-media': true,
        'special-social-media': true,
        'tabling': true,
        'booth': false,
        'category-exclusive': false,
    },
    '1000': {
        'signage': true,
        'promo': true,
        'group-social-media': true,
        'special-social-media': true,
        'tabling': true,
        'booth': true,
        'category-exclusive': true,
    },
} %}

{% set events = [
    {
        'flickr': 'https://www.flickr.com/photos/csunasi/sets/72157679478826274',
        'title': 'Earth Fair',
        'desc': "Earth Fair is an event that educates students about global environmental issues. This event brings awareness of CSUN's sustainable initiatives to the students, highlighting campus efforts to use renewable energy, eliminate paper waste, and more. Earth Fair's programming includes a student art competition, live musical performances, and vendors that encourage students to take steps towards a sustainable lifestyle.",
        'footer': '**Estimated Attendance:** ~ 3,000 throughout the day',
    },
    {
        'flickr': 'https://www.flickr.com/photos/csunasi/sets/72157694810825514',
        'title': 'Sol Fest',
        'desc': "Sol Fest is CSUN's first ever spring time concert event. This event is a local music and arts festival that highlights student and local talent.  Sol Fest will feature two outdoor stages, delicious food vendors, local crafts & amazing art.",
        'footer': '**Estimated Attendance:** 800 - 1,200',
    },
] %}

<div class="page-section">
    <img class="page-section__image"
         src="{{ url('assets/images/heading--tier-two.jpg') }}"
         alt="{{ department }}">

    <section class="container py-5">
        <h2 id="sponsoring-tier-two">Sponsoring Tier Two Events</h2>

        <p>These events are stand-alone events that happen during the spring semester. While specific metric data for attendance may not be available, these events have comparable events that can provide estimates on attendance.</p>

        {{ event_cards(events, 'two') }}
        {{ comparison_table(perks, levels, 'two') }}
    </section>
</div>
