{% from '_macros/perks-table.html.twig' import comparison_table %}
{% from '_macros/event-cards.html.twig' import event_cards %}

{% set perks = {
    'signage':              'Partnership level recognition on Event Signage',
    'promo':                'Inclusion in all advertising and event promotional pieces <sup>[ <a href="#tier_one_footnote_1">1</a> ]</sup>',
    'group-social-media':   'Partner level group recognition on social media platforms <sup>[ <a href="#tier_one_footnote_2">2</a> ]</sup>',
    'tabling':              'Opportunity for a Promo Table near the entrance of the event',
    'special-social-media': 'Individual Recognition on Social Media <sup>[ <a href="#tier_one_footnote_2">2</a> ]</sup>',
    'booth':                'Sponsored Information Booth on campus (one time)',
    'category-exclusive':   'Partner shall receive Category Exclusivity',
} %}

{% set levels = {
    '100': {
        'signage': true,
        'promo': false,
        'group-social-media': false,
        'tabling': false,
        'special-social-media': false,
        'booth': false,
        'category-exclusive': false,
    },
    '250': {
        'signage': true,
        'promo': true,
        'group-social-media': false,
        'tabling': false,
        'special-social-media': false,
        'booth': false,
        'category-exclusive': false,
    },
    '500': {
        'signage': true,
        'promo': true,
        'group-social-media': true,
        'tabling': true,
        'special-social-media': false,
        'booth': false,
        'category-exclusive': false,
    },
    '1000': {
        'signage': true,
        'promo': true,
        'group-social-media': true,
        'tabling': true,
        'special-social-media': true,
        'booth': false,
        'category-exclusive': false,
    },
    '5000': {
        'signage': true,
        'promo': true,
        'group-social-media': true,
        'tabling': true,
        'special-social-media': true,
        'booth': true,
        'category-exclusive': true,
    },
} %}

{% set events = [
    {
        'url': 'https://csunbigshow.com',
        'flickr': 'https://www.flickr.com/photos/csunasi/albums/72157687200982180',
        'title': 'Big Show',
        'date': 'October 6, 2018',
        'desc': 'This event is CSUN’s annual fall concert, now in its 17th year it is a 8,000 student capacity party kicking off the fall semester. Past performers include Dillon Francis, Valentino Khan, Big Sean, Louis the Child, Carnage, Diplo, Phantoms, LMFAO, Tyga, Laidback Luke and more.',
        'footer': '**Attendance:** 8,000 students & guests',
    },
    {
        'flickr': 'https://www.flickr.com/photos/csunasi/albums/72157666672897102',
        'title': 'Big Lecture',
        'date': 'Spring 2019',
        'desc': 'In an effort to inspire and motivate the student body, AS Productions brings a highly accomplished inspirational guest speaker to the campus to speak to the campus and encourage them to chase their dreams. Bringing personalities from different industries, a few past guest speakers include: Laverne Cox, Viola Davis, Magic Johnson, James Franco, and Cornell West.',
        'footer': '**Attendance:** 800 – 1600 students, faculty, staff, & guests',
    },
    {
        'flickr': 'https://www.flickr.com/photos/csunasi/albums/72157688384850905',
        'title': 'AS Fair',
        'date': 'August 28, 2018',
        'desc': 'This event is CSUN’s annual welcome fair, now in its 14th year. This tabling event takes place by the Campus Store with heavy traffic. Generally up to 4000 students attend this event filled with giveaways, music, food, and an opportunity to visit informational tables.',
        'footer': '**Attendance:** 5000 students, faculty and staff',
    },
] %}

<div class="page-section">
    <img class="page-section__image"
         src="{{ url('assets/images/heading--tier-one.jpg') }}"
         alt="{{ department }}">

    <section class="container py-5">
        <h2 id="sponsoring-tier-one">Sponsoring Tier One Events</h2>

        <p>Tier One events are Signature Events within AS and AS Productions. These annual events will include metrics data for attendance.</p>

        {{ event_cards(events, 'one') }}
        {{ comparison_table(perks, levels, 'one') }}

        <h4>Footnotes</h3>
        <small>
            <ol>
                <li id="tier_one_footnote_1">Inclusion on advertising pieces will occur for any pieces that have not yet been printed or produced.</li>
                <li id="tier_one_footnote_2">One/two post(s) at an agreed upon duration and date</li>
                <li id="tier_one_footnote_3">Contributions and assets are per event</li>
            </ol>
        </small>
    </section>
</div>
