<section class="container mt-5">
    {% markdown %}
        ## Why Sponsor AS Productions?

        Sponsorships with AS Productions allow for unique and exclusive access to the most coveted demographic, young college age individuals and local families.

        ### Benefits of Sponsorship Include

        - Awareness among thousands of energetic and dynamic students
        - Exclusive participation in activities that reach the entire CSUN community
        - Association with CSUN’s most prominent student organization and student programming board

        ## How Will My Sponsorship Funds Be Utilized?

        Corporate sponsorship money will help AS Productions continue to bring the CSUN community quality high impact events while keeping the student cost at a minimum..
    {% endmarkdown %}
</section>
