<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% spaceless %}{% block title %}Associated Students Sponsorships{% endblock %}{% endspaceless %}</title>

        <link rel="shortcut icon"
              href="{{ url('favicon.ico') }}">

        {% block stylesheets %}{% endblock %}

        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,600|Josefin+Slab:700">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
              integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="{{ url('assets/css/styles.css') }}">
    </head>
    <body>
        {% block body %}{% endblock %}

        <script src="{{ url('assets/js/main.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
